.list-page {
  padding: 42px calc(50% - 300px);
  margin: 42px;
  border: 1px solid #ddd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list-page__title {
  font-size: 34px;
  margin-bottom: 26px;
}

.list-page ul li {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 2px;
}
